#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}







.link {
    color: grey;
}

.active {
    color: rgb(128, 0, 38);
}
.card {
    min-width: 80vw;
    min-height: 15vh;
    border: dotted 5px maroon;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    justify-items: center;
    font-weight: 600;
    font-size: 1.5em;
    padding: 2em;
}
.cat-card {
    width: 80vw;
    height: 70vh;
    margin: 0 auto;
}
.cat-card img {
    object-fit: cover;
    height: 70vh;
}

.read-the-docs {
    color: #888;
}
