#root {
    max-width: 1280px;
    text-align: center;
    display: flex;
}
a {
    font-weight: 500;
    color: #73ff64;
    text-decoration: inherit;
}
a:hover {
    color: #f253e2;
}

.navbar-container {
    position: fixed;
    width: 100vw;
    top: 0px;
    margin-left: 10px;
    padding-top: 10px;
    display: flex;
    align-content: space-between;
    background-color: #fff;
}
.nav-title {
    display: flex;
    width: 200px;
}

.nav-title-text {
    font-size: 1rem;
    padding: 0;
    align-items: center;
    padding: 0;
    margin: 0;
}
.nav-title-text h3 {
    padding: 0;
    margin: 0;
}
.nav-links-container {
    min-width: 600px;
    display: flex;
    align-content: space-between;
}
.link {
    font-weight: 700;
    align-items: center;
    padding: 0 0.5rem;
    color: grey;
}
.active {
    color: rgb(194, 46, 53);
}
.main-container {
    width: 90vw;
    margin: 0 auto;
    margin-top: 1.2rem;
}
.card {
    min-width: 80vw;
    min-height: 15vh;
    border: dotted 5px maroon;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: 600;
    font-size: 1.5em;
    padding: 2em;
}
.cat-card {
    width: 80vw;
    height: 70vh;
    margin: 0 auto;
}
.cat-card img {
    object-fit: cover;
    height: 70vh;
}

h1 {
    font-size: 2.2em;
    line-height: 1.1;
}

button {
    margin: 1em;
    border-radius: 4rem;
    width: 7rem;
    height: 4rem;
    border: 2px solid transparent;
    padding: 0.3rem;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: inherit;
    color: #ffffff;
    background-color: #c16363;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    background-color: #9d0848;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}



footer { margin-top: 2rem; width: 100vw;}

