#root {
    /* max-width:  600px !important; */
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;

    /* max-width: 600px !important; */
}
a {
    font-weight: 500;
    color: #e3365e;
    text-decoration: inherit;
}
a:hover {
    color: #f2536b;
}

.navbar-container {
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    box-shadow: 0 0.4rem 0.4rem rgba(35, 35, 35, 0.118);
    padding: 10px 20px;
    display: flex;
    align-content: space-between;
    background-color: #fff;
}
.nav-title {
    display: flex;
    width: 200px;
}

.nav-title-text {
    font-size: 1rem;
    padding: 0;
    align-items: center;
    padding: 0;
    margin: 0;
}
.nav-title-text h3 {
    padding: 0;
    margin: 0;
}
.nav-links-container {
    min-width: 600px;
    display: flex;
    align-content: space-between;
}
.link {
    font-weight: 700;
    align-items: center;
    padding: 0 0.5rem;
    color: #97aeae;
}
.active {
    color: #ea5959;
}
.main-container {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 1rem;
    margin: 2rem auto;
}
.card {
    margin: 0 auto;
    justify-content: center;
    width: 80%;
    min-height: 15vh;
    max-height: 80vh;
    border: dotted 3px #d07b7b;
    background-color: #ffffff;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: 600;
    font-size: 1.5em;
    padding: 2em;
}
.cat-card {
    width: 80%;
    height: 75vh;
    margin: 0 auto;
}
.cat-card img {
    border: solid 7px #fff;
    object-fit: cover;
    height: 73vh;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.322);}

h1 {
    font-size: 2em;
    margin-top: 1rem;
    color: rgb(67, 96, 96);;
}

button {
    margin: 1.5rem auto;
    border-radius: 4rem;
    width: 7rem;
    height: 3rem;
    border: 2px solid transparent;
    padding: 0.3rem;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: inherit;
    color: #ffffff;
    background-color: #ea5959;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    background-color: #da3d3d;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    height: 1rem;
    margin: 0.5rem auto;
    text-align: center;
    width: 100%;
    color: rgb(101, 117, 117);
    font-weight: 600;
}
